settings set target.x86-disassembly-flavor intel
settings set prompt (lportay)

script print("__      __                 .__                                       \n/  \    /  \  ____    ______|  |__      ____  _______   ____    ______\n\   \/\/   /_/ __ \  /  ___/|  |  \    / ___\ \_  __ \ /  _ \  /  ___/\n \        / \  ___/  \___ \ |   Y  \  / /_/  > |  | \/(  <_> ) \___ \ \n   \__/\  /   \___  >/____  >|___|  /  \___  /  |__|    \____/ /____  >\n        \/        \/      \/      \/  /_____/                       \/\n")
